/Flask-dt8-De7Q
.vscode/settings.json
CakeOrderSys/__pycache__/settings.cpython-37.pyc
CakeOrderSys/__pycache__/__init__.cpython-37.pyc
CakeOrderSys/blueprints/__pycache__/login.cpython-37.pyc
CakeOrderSys/blueprints/__pycache__/__init__.cpython-37.pyc
CakeOrderSys/blueprints/__pycache__/index.cpython-37.pyc
CakeOrderSys/ssl/server.crt
CakeOrderSys/ssl/server.csr
CakeOrderSys/ssl/server_nopwd.key
