{% from 'bootstrap/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>April的烘培工坊 - {% block title %}{% endblock title %}</title>

            <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

            <!-- Bootstrap core CSS -->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/shop/bootstrap.min.css') }}" type="text/css">

            <!-- Custom styles for this template -->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/shop/shop-homepage.css') }}" type="text/css">
        {% endblock head %}
    </head>
    <body>
        <!-- 导航栏 -->
        {% block nav %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('home.home')}}">
                    <img src="{{ url_for('static', filename='images/logo.jpg') }}" width="40" class="d-inline-block align-top">
                    <small>April的烘培工坊</small>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <!-- <ul class="navbar-nav mr-auto">
                        {{render_nav_item('home.home', '主页')}}
                    </ul> -->
                    <ul class="navbar-nav ml-auto">
                            {{render_nav_item('home.home', 'Home')}}
                            {{render_nav_item('login.login', 'About')}}
                    </ul>
                </div>
        </nav>
        {% endblock nav %}

        <div class="container-fluid fullcontainer">
            {% for message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ message[0] }} alert-full" role="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message[1] }}
            </div>
            <script>
                window.setTimeout(function(){
                    $('[data-dismiss="alert"]').alert('close');
                    },3000);
            </script>
            {% endfor %}
            <!-- 内容 -->
            {% block content %}{% endblock content %}

            <!-- 页脚 -->
            {% block footer %}
            <footer class="py-5 bg-dark">
                <div class="container">
                    <p class="m-0 text-center text-white">Copyright &copy; 大四月烘培工坊 2017 - 2018</p>
                </div>
                <!-- /.container -->
            </footer>
            {% endblock footer %}
        </div>


        <!-- Bootstrap core JavaScript -->
        {% block scripts %}
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/shop/bootstrap.min.js') }}"></script>
        {% endblock scripts %}
    </body>
</html>