{% if commoditys %}
    {% for commodity in commoditys %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
                <img class="card-img-top"  src="{{ url_for('manager.get_primaryicon', filename=commodity.primaryicon) }}">
                <div class="card-body">
                    <a href="{{ url_for('home.home')}}"><h4 class="card-title">{{ commodity.name }}</h4></a>
                    <h5 class="card-price">{{ commodity.price }}</h5>
                    <p class="card-text">{{ commodity.detail }}</p>
                </div>
        </div>
    </div>
    {% endfor %}
{% endif %}
